@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--default-background-color);
  place-items: center;
}

* {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-background-color: hsl(47, 88%, 63%);
  --default-font-family: "Figtree";
  --grey-font-color: hsl(0, 0%, 50%);
}

main {
  border: 1.5px solid #000;
  background-color: #fff;
  border-radius: 0.75rem;
  height: 31.25rem;
  max-width: 90%;
  width: 22.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 5);
  padding: 1rem;
}

main img {
  border-radius: 0.625rem;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 1.875rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--default-background-color);
  font-weight: 800;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

h1:hover {
  color: var(--default-background-color);
  cursor: pointer;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey-font-color);
  line-height: 1.5;
}

.profile-div {
  display: flex;
  align-items: center;
}

.profile-div img {
  margin-right: 0.625rem;
  height: 2rem;
}

.profile-div h4 {
  font-size: 1rem;
  font-weight: 900;
}

@media screen and (width < 23.4375rem) {
  main {
    width: 80vw;
  }
}
